@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --success-color: #ebffeb;
  --error-color: #fce7e7;
}

* {
  box-sizing: border-box;
}

body  {
  background: #ecf0f3;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container  {
  position: relative;
  width: 400px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

}

h2  {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: rgb(27, 27, 27);
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: none;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: none;
  border-color: #777;
}

.form-control input::placeholder  {
  font-size: 13px;
  color: rgb(124, 124, 124);
}

.form-control.success input {
  background: var(--success-color);
}

.form-control.error input {
  background: var(--error-color);
}

.form-control small {
  color: rgb(243, 59, 59);
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  left: 8px;
  margin-top: 13px;
  visibility: hidden;
}

@media only screen and (max-width: 390px) {
  .form-control small {
    font-size: 2.6923vw;
  }
}

.form-control.error small {
  visibility: visible;
}

.form button  {
  outline: none;
  border: none;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px rgb(204, 204, 204);
  transition: 0.5s;
}
